/*
 * Cleaner Context Menu
 */
/* page menu */
#contentAreaContextMenu #context-openlink,    /* in new window */
#contentAreaContextMenu #context-bookmarklink,
#contentAreaContextMenu #context-savelinktopocket,
#contentAreaContextMenu #context-pocket,
#contentAreaContextMenu #context-sendimage,
#contentAreaContextMenu #context-sep-sendpagetodevice,
#contentAreaContextMenu #context-setDesktopBackground,
#contentAreaContextMenu #context-selectall,
#contentAreaContextMenu #context-viewsource,
#contentAreaContextMenu #inspect-separator {
  display: none !important; 
}

/* tab menu */
#tabContextMenu #context_toggleMuteTab,
#tabContextMenu #context_moveTabOptions,
#tabContextMenu #context_undoCloseTab,
#tabContextMenu #context_closeTab { 
  display: none !important; 
}



/* #tabContextMenu menuitem:nth-of-type(n+1) {
  -moz-box-ordinal-group: 2;
}

#tabContextMenu #_c2c003ee-bd69-42a2-b0e9-6f34222cb046_-menuitem-1 {
  -moz-box-ordinal-group: 1;
}
 */
/* 
 * Cleaner Bookmark menu 
 */
#BMB_bookmarksShowAllTop, 
#BMB_bookmarksShowAllTop+menuseparator,
#BMB_viewBookmarksSidebar,
#BMB_viewBookmarksToolbar,
/*#BMB_bookmarksToolbar, */
/*#BMB_unsortedBookmarks, */
/*#BMB_bookmarksShowAll,  */
#BMB_viewBookmarksToolbar+menuseparator,
#BMB_mobileBookmarks+menuseparator {
  display: none !important;
}



