/*
 * Findbar 
 */

findbar {
  --findbarbutton-vertical-padding: 4px;
  -moz-box-ordinal-group: 0; 
  position: relative;
  margin-top: -4px !important;
  margin-bottom: calc(-2 * var(--findbarbutton-vertical-padding) - 22px);
  padding-bottom: 2px;
  border-top: none !important;
  transition: transform 82ms ease-out, opacity 82ms ease-out !important;
  background: var(--toolbar-bgcolor) !important;  /* --lwt-accent-color for contrast */ 
  z-index: 0;
}

/* Keep Navbar on top during Findbar transform animation */
#nav-bar {
  z-index: 1;
}

/* Shift findbar for sliding animation */
findbar[hidden] {
  transform: translateY  (-30px);
}

findbar > .findbar-container {
  -moz-box-direction: reverse;
}

findbar > .findbar-container::before {
  -moz-box-ordinal-group: 0;
  -moz-box-flex: 1;
  display: -moz-box;  
  content: "";
}

findbar > .findbar-container::after { 
  -moz-box-ordinal-group: 4;
  -moz-box-flex: 1;
  display: -moz-box;  
  content: "";
}

findbar .findbar-button {
  -moz-box-ordinal-group: 0;
  padding: var(--findbarbutton-vertical-padding) var(--toolbarbutton-inner-padding) !important;
}

findbar .found-matches {
  -moz-box-ordinal-group: 2;
  display: -moz-box; 
  min-width: 200px;
  text-align: right !important;
  opacity: 0.8 !important;
  /* shift to the right to align search field with address in URLbar */
  margin-left: 74px !important;
}

findbar .findbar-find-status {
  -moz-box-ordinal-group: 3;
  display: none !important;
}

findbar .findbar-textbox {
  width: 32em !important;
  text-align: center !important;  
} 

findbar > .findbar-container > hbox {
  margin: 0 70px;
}

findbar .findbar-container > hbox > toolbarbutton {
  display: none !important;
}


/* Quick find - show buttons */
/* .findbar-container > *, .findbar-container > hbox > * { display: -moz-box; } */
