/*
 * Dim discarded tabs
 */
.tabbrowser-tab[pending] {
  opacity: .70 !important;
}

/*
 * Reduce tab title gradient
 */
.tabbrowser-tab:not([pinned]) .tab-content {
  padding-inline-end: 6px !important;
}

.tab-label-container[textoverflow][labeldirection="ltr"]:not([pinned]), 
.tab-label-container[textoverflow]:not([labeldirection]):not([pinned]):-moz-locale-dir(ltr) {
	mask-image: linear-gradient(to left, transparent, black 1.3em) !important;
}

/*
 * Highlight tabs that were changed or shared from other devices by adding small colored line
 */
.tab-label[attention]:not([selected="true"]) {
	font-weight: normal  !important;
}	

.tabbrowser-tab:-moz-any([image], [pinned]) > .tab-stack > .tab-content[attention]:not([selected="true"]),
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
	background-image: none !important;
}

/* 
 #9b59b6 - purple
 #3498db - blue
 #1abc9c - green
*/
:root {
	--tab-attention-line-color: #1abc9c;
}

.tabbrowser-tab[attention] > .tab-stack > .tab-background > .tab-bottom-line {
	background: linear-gradient(to right, transparent 33%, var(--tab-attention-line-color) 35% 65%, transparent 67%) !important;
	height: 1px !important;
}

/* .tabbrowser-tab:not([pinned]) {
	max-width: 300px !important;
} */
