@import url('userContent/about_addons.css');
@import url('userContent/about-reader.css');
@import url('userContent/error-pages.css');
@import url('userContent/view-source.css');
@import url('userContent/webpage-specific.css');

/* @namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul'); */
/* @namespace html url('http://www.w3.org/1999/xhtml'); */

/**
 * Set colors to match ArcDark theme
 */
 :root {
  --arc-dark-tabbar: #2f343f;
  --arc-dark-navbar: #383c4a;
  /* --arc-dark-navbar: #404552;   // what is this color? */
  
  --scroll-thumb-color: #5f6776;
  --scroll-track-color: var(--arc-dark-navbar);

  scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color) !important;
}

/* Cheat sheet */
/* --titlebar-bgcolor  =   titlebar: menu & tabs */
/* --toolbar-bgcolor   =   navbar */


/* Thin scrollbars everywhere */
*|* { scrollbar-width: thin; }


/* More homepage styling here :
* https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme/blob/master/Full%20dark%20theme/userContent.css
*/

@-moz-document url('about:home'), url('about:newtab'), url('about:privatebrowsing'), url('about:blank') {
  html:not(#ublock0-epicker) body { 
    background-color: var(--arc-dark-tabbar) !important;
  }

  /* Hide scrollbar */ 	
  :root{
    scrollbar-width: none !important;
  }
}

@-moz-document url('about:newtab'), url('about:home') { 
/* Disable scrolling on New tab page */ 	
  body {
    overflow-y: hidden !important; 
    --newtab-card-background-color: #333 !important;
  }

  /* new tab bg */
  .outer-wrapper {
    background-image: url('Backgrounds/bg-photo.jpg') !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
  }

  /* featured cards title bg */
  /*  .card, .prefs-pane .sidebar {
    background-color:#202020 !important;
  } */

  /* featured cards title text */
  #snippets, .section-title, .snippetContainer, .card-title, .card-description {
    color: #AEAEAE !important;
  }

  .top-site-outer .tile {
    border-radius: 2px !important;
  }

  .top-site-outer .screenshot {
    background-position: top center !important;
    background-size: 120px !important;
    border-radius: 2px !important;
  }

  .top-sites-list .top-site-outer .rich-icon {
    background-size: 86px !important;
    border-radius: 2px !important;
  }

  .card-outer { 
    border-radius: 1px !important;  /* sharp edges */
    box-shadow: 0 14px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
  }

  /*  .top-sites-list .top-site-outer .title span { 
    color:#D1D1D1; 
  }

  .top-site-outer .tile {
    width: 156px !important;
    height: 96px !important;
  }

  main {
    width: 1146px !important;
    padding-bottom: 0px !important;
  } */

} 




