@import url('userContent/variables.css');
/* @import url('userContent/about_addons.css'); */
@import url('userContent/about_newtab.css');
@import url('userContent/about_reader.css');
@import url('userContent/error_pages.css');
@import url('userContent/view_source.css');
/* @import url('userContent/addon_styling.css'); */
@import url('userContent/webpage_specific.css');

/* Thin scrollbars everywhere */
:root {
  scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color);
  scrollbar-width: thin !important;
}

* { scrollbar-width: thin !important }

/* Disable outlines on focused elements (links/buttons) */
:focus { outline: none; }
::-moz-focus-inner { border: 0; }
