@import 'General/compact_sidebar.css';
@import 'General/context_and_popup_menus.css';
@import 'General/dark_background_on_loading_pages.css';
@import 'General/dark_modal_prompts.css';
@import 'General/findbar_top_centered.css';

/* @import 'Navbar/identitybox_colored_background.css'; */
@import 'Navbar/identitybox_colored_line.css';
@import 'Navbar/menu_buttons_rotate_on_click.css';
@import 'Navbar/navbar_appearence.css';
@import 'Navbar/overflow_menu_horizontal.css';
@import 'Navbar/urlbar_appearence.css';
@import 'Navbar/urlbar_centered_address.css';
@import 'Navbar/urlbar_remove_megabar.css';

/* @import 'Tabs/dynamic_tab_width.css'; */
/* @import 'Tabs/flag_multi_selected_tabs.css'; */
@import 'Tabs/remove_extra_padding.css';
@import 'Tabs/subtle_tab_separators.css';
@import 'Tabs/tab_close_button_on_hover_only.css';
@import 'Tabs/tab_sound_icon_above_favicon.css';
@import 'Tabs/tab_title_appearence.css';

/* @import 'Toolbars/bookmark_toolbar_on_bottom_of_newtab.css'; */
@import 'Toolbars/floating_toolbars_on_hover_fullscreen_only.css';
/* @import 'Toolbars/floating_toolbars_on_hover.css'; */
/* @import 'Toolbars/show_navbar_on_hover.css'; */
/* @import 'Toolbars/menubar_visible_on_hover.css'; */

/* Is namespace even needed? */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* :focus {outline:none !important;}
::-moz-focus-inner {border:0 !important; } */


/**
 * Work-in-progress stuff 
 */

/* #statuspanel-label {  
  background-color: var(--toolbar-bgcolor) !important;
  color: #ccc !important;
  border: none !important;
} */

/* Win8: show Firefox's native minimize/close buttons instead of OS styled ones */
/* bug: #window-controls doesn't spawn in #TabsToolbar until window resize
/* @media (-moz-os-version: windows-win8) {
  #window-controls {
    display: -moz-box !important;
  }

  .titlebar-buttonbox-container {
    visibility: collapse !important;
  }
} */

/*:root {
  --panel-disabled-color: rgba(211, 218, 227, 0.5) !important;
  --lwt-accent-color:  !important;
  --lwt-text-color: rgba(207, 218, 231) !important;
  --arrowpanel-background: rgb(64, 69, 82) !important;
  --arrowpanel-color: rgba(211, 218, 227, 1) !important;
  --arrowpanel-border-color: rgb(43, 46, 57) !important;
  --lwt-toolbar-field-background-color: rgb(64, 69, 82) !important;
  --lwt-toolbar-field-color: rgba(211, 218, 227, 1) !important;
  --lwt-toolbar-field-border-color: rgb(43, 46, 57) !important;
  --lwt-toolbar-field-focus: rgba(255, 255, 255, 0.075) !important;
  --toolbar-field-focus-border-color: rgb(43, 46, 57) !important;
  --toolbar-bgcolor: rgb(56, 60, 74) !important;
  --toolbar-color: rgb(211, 218, 227) !important;
  --urlbar-separator-color: rgba(255, 255, 255, 0.2) !important;
  --lwt-toolbar-vertical-separator: rgb(43, 46, 57) !important;
  --chrome-content-separator-color: rgb(43, 46, 57) !important;
  --lwt-toolbarbutton-icon-fill-attention: rgb(82, 148, 226) !important;
  --lwt-toolbarbutton-hover-background: rgba(255, 255, 255, 0.12) !important;
  --lwt-toolbarbutton-active-background: rgb(82, 148, 226) !important;
  --autocomplete-popup-background: rgb(64, 69, 82) !important;
  --autocomplete-popup-color: rgb(211, 218, 227) !important;
  --autocomplete-popup-border-color: rgb(43, 46, 57) !important;
  --autocomplete-popup-highlight-background: rgb(82, 148, 226) !important;
  --autocomplete-popup-highlight-color: rgb(227, 234, 243) !important;
}*/

/* Sidebar autohide */ 
/*#sidebar-box{
  --uc-sidebar-width: 6px;
  --uc-sidebar-hover-width: 220px;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index:1;
}

#sidebar-header{ overflow: hidden; color: var(--chrome-color, inherit) !important}

#sidebar{
  transition: min-width 115ms linear !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
}

#sidebar-box:hover > #sidebar{ min-width: var(--uc-sidebar-hover-width) !important; }

#sidebar,
#sidebar-header{
  background-color: var(--toolbar-bgcolor) !important;
}*/