/**
 * Remove unnecessary elements from context and other menus
 */

/* Page context Menu */
#context-openlink,    /* in new window */
#context-bookmarklink,
#context-savelinktopocket,
#context-pocket,
#context-sendimage,
#context-sep-sendpagetodevice,
#context-setDesktopBackground,
#context-selectall,
#context-viewsource,
#inspect-separator,

/* Tab context menu */
#context_toggleMuteTab,
#context_moveTabOptions,
#context_undoCloseTab,
#context_closeTab,

/* Bookmark dropdown menu */
#BMB_bookmarksShowAllTop, 
#BMB_bookmarksShowAllTop + menuseparator,
#BMB_viewBookmarksSidebar,
#BMB_viewBookmarksToolbar,
/*#BMB_bookmarksToolbar, */
/*#BMB_unsortedBookmarks, */
/*#BMB_bookmarksShowAll,  */
#BMB_viewBookmarksToolbar + menuseparator,
#BMB_mobileBookmarks + menuseparator,

/* Hamburger menu */
#appMenu-edit-controls,
#appMenu-edit-controls + toolbarseparator,
#appMenu-open-file-button,
#appMenu-find-button,
#appMenu-help-button + toolbarseparator,
#appMenu-quit-button,

/* #PanelUI-history (history button) */
#appMenuViewHistorySidebar,
#appMenuClearRecentHistory,
#appMenuClearRecentHistory + toolbarseparator,

/* Page action menu (...) on the right side of URLbar */
#pageAction-panel-bookmark,
#pageAction-panel-bookmarkSeparator,
#pageAction-panel-copyURL,
#pageAction-panel-emailLink,
#pageAction-panel-builtInSeparator,
#pageAction-panel-_c607c8df-14a7-4f28-894f-29e8722976af_ 
{
  display: none !important;
}

#pageAction-panel-sendToDevice {
  -moz-box-ordinal-group: 0;
}


/**
 * Style some menus
 */

/*
 * Color page context menu icons 
 * Firefox Quantum userChrome.css tweaks
 * Github: https://github.com/aris-t2/customcssforfx
 */
#context-back .menu-iconic-icon,
#context-forward .menu-iconic-icon {
  fill: #4169e1 !important;
}

#context-reload .menu-iconic-icon {
  fill: green !important;
}

#context-stop .menu-iconic-icon {
  fill: red !important;
}

#context-bookmarkpage .menu-iconic-icon {
  fill: #336699 !important;
} 


/**
 * Add icons to context menu 
 */

/* page */
#context-savepage::before {
  content: url(chrome://browser/skin/save.svg);
}

#context-sendpagetodevice::before {
  content: url(chrome://browser/skin/send-to-device.svg);
}

#context-sendpagetodevice .sendtab-target[clientType="phone"]::before {
  content: url(chrome://browser/skin/device-phone.svg);
}

#context-sendpagetodevice .sendtab-target[clientType="desktop"]::before {
  content: url(chrome://browser/skin/device-desktop.svg);
}

#context-sendpagetodevice .sendtab-target[clientType="tablet"]::before {
  content: url(chrome://browser/skin/device-tablet.svg);
}

#context-viewinfo::before {
  content: url(chrome://browser/skin/identity-icon.svg);
}

/* #context-inspect */

/* link */
#context-openlinkintab::before {
  content: url(chrome://browser/skin/new-tab.svg);
}

/* #context-openlinkinusercontext-menu */

#context-openlinkprivate::before {
  content: url(chrome://browser/skin/privateBrowsing.svg);
}

#context-savelink::before {
  content: url(chrome://browser/skin/save.svg);
}

#context-copylink::before {
  content: url(chrome://browser/skin/link.svg);
}

#context-searchselect::before {
  content: url(chrome://browser/skin/search-glass.svg);
}

#context-sendlinktodevice::before {
  content: url(chrome://browser/skin/send-to-device.svg);
}

#context-sendlinktodevice .sendtab-target[clientType="phone"]::before {
  content: url(chrome://browser/skin/device-phone.svg);
}

#context-sendlinktodevice .sendtab-target[clientType="desktop"]::before {
  content: url(chrome://browser/skin/device-desktop.svg);
}

#context-sendlinktodevice .sendtab-target[clientType="tablet"]::before {
  content: url(chrome://browser/skin/device-tablet.svg);
}

/* image */
#context-copyimage-contents::before {
  content: url(chrome://browser/skin/edit-copy.svg);
}

#context-copyimage::before {
  content: url(chrome://browser/skin/link.svg);
}

#context-saveimage::before {
  content: url(chrome://browser/skin/save.svg);
}

#context-viewimageinfo::before {
  content: url(chrome://browser/skin/identity-icon.svg);
}

/* selection */
#context-copy::before {
  content: url(chrome://browser/skin/edit-copy.svg);
}

/* #context-viewpartialsource-selection */

/* tab */
#context_reloadTab::before {
  content: url(chrome://browser/skin/reload.svg);
}

/* #context_pinTab */

/* #context_duplicateTab */

#context_selectAllTabs::before {
  content: url(chrome://browser/skin/window.svg);
}

/* #context_reopenInContainer */

#context_sendTabToDevice::before {
  content: url(chrome://browser/skin/send-to-device.svg);
}

#context_sendTabToDevice .sendtab-target[clientType="phone"]::before {
  content: url(chrome://browser/skin/device-phone.svg);
}

#context_sendTabToDevice .sendtab-target[clientType="desktop"]::before {
  content: url(chrome://browser/skin/device-desktop.svg);
}

#context_sendTabToDevice .sendtab-target[clientType="tablet"]::before {
  content: url(chrome://browser/skin/device-tablet.svg);
}

/* #context_closeTabsToTheEnd */
/* #context_closeOtherTabs */

/* Properly align icons */
:-moz-any(#contentAreaContextMenu, #tabContextMenu) :-moz-any(menuitem, menu)::before {
  display: -moz-box;
  padding-inline-start: 4px;
  opacity: 0.7;
}

:-moz-any(
  #context-savepage,
  #context-sendpagetodevice,
  #context-viewinfo,
  #context-openlinkintab,
/*   #context-openlinkinusercontext-menu, */
  #context-openlinkprivate,
  #context-savelink,
  #context-copylink,
  #context-searchselect,
  #context-sendlinktodevice,
  #context-copyimage-contents,
  #context-copyimage,
  #context-saveimage,
  #context-viewimageinfo,
  #context-copy,
  #context_reloadTab,
/*   #context_duplicateTab, */
  #context_selectAllTabs,
  #context_sendTabToDevice) .menu-text {
  margin-inline-start: -18px !important;
}


/**
 * Add icons to appmenu items
 * Original code from Firefox Quantum userChrome.css tweaks
 * Github: https://github.com/aris-t2/customcssforfx
 */

#appMenu-open-file-button {
  -moz-context-properties: fill;
  list-style-image: url(chrome://browser/skin/open.svg);
}

#appMenu-save-file-button {
  -moz-context-properties: fill;
  list-style-image: url(chrome://browser/skin/save.svg);
}

#appMenu-more-button {
  -moz-context-properties: fill;
  list-style-image: url(chrome://browser/skin/chevron.svg);
}

#appMenu-characterencoding-button {
  -moz-context-properties: fill;
  list-style-image: url(chrome://browser/skin/characterEncoding.svg);
}

#appMenu-developer-button  {
  -moz-context-properties: fill;
  list-style-image: url(chrome://browser/skin/developer.svg);
}

#PanelUI-helpItems > toolbarbutton:last-of-type {
  -moz-context-properties: fill;
  list-style-image: url(chrome://browser/skin/identity-icon.svg);
}

:-moz-any(
    #appMenu-open-file-button, 
    #appMenu-save-file-button, 
    #appMenu-more-button, 
    #appMenu-characterencoding-button, 
    #appMenu-developer-button) .toolbarbutton-text,
#PanelUI-helpItems > toolbarbutton:last-of-type .toolbarbutton-text {
  padding-inline-start: 8px !important;
}

#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext :-moz-any(
    #appMenu-open-file-button, 
    #appMenu-save-file-button, 
    #appMenu-more-button, 
    #appMenu-characterencoding-button, 
    #appMenu-developer-button),
#PanelUI-helpItems > toolbarbutton:last-of-type {
  fill: currentColor !important;
}

/**
 * Hide some tooltips
 */
#back-button-tooltip,
#forward-button-tooltip,
#tabbrowser-tab-tooltip {
  display: none;
}
