/**
 * Remove unnecessary elements from context and other menus
 */

/* Page context Menu */
#context-openlink,    /* in new window */
#context-bookmarklink,
#context-savelinktopocket,
#context-pocket,
#context-sendimage,
#context-sep-sendpagetodevice,
#context-setDesktopBackground,
#context-selectall,
#context-viewsource,
#inspect-separator {
  display: none !important; 
}

/* Tab context menu */
#context_toggleMuteTab,
#context_moveTabOptions,
#context_undoCloseTab,
#context_closeTab { 
  display: none !important; 
}

/* Bookmark dropdown menu */
#BMB_bookmarksShowAllTop, 
#BMB_bookmarksShowAllTop + menuseparator,
#BMB_viewBookmarksSidebar,
#BMB_viewBookmarksToolbar,
/*#BMB_bookmarksToolbar, */
/*#BMB_unsortedBookmarks, */
/*#BMB_bookmarksShowAll,  */
#BMB_viewBookmarksToolbar + menuseparator,
#BMB_mobileBookmarks + menuseparator {
  display: none !important;
}

/* Hamburger menu */
#appMenu-edit-controls,
#appMenu-edit-controls + toolbarseparator,
#appMenu-open-file-button,
#appMenu-find-button,
#appMenu-help-button + toolbarseparator,
#appMenu-quit-button {
  display: none !important;
}

/* Page action menu (...) on the right side of URLbar */
#pageAction-panel-bookmark,
#pageAction-panel-copyURL {
  display: none !important;
}


/**
 * Style some menus
 */

/*
 * Color page context menu icons 
 * Firefox Quantum userChrome.css tweaks
 * Github: https://github.com/aris-t2/customcssforfx
 */
#context-back .menu-iconic-icon {
  fill: #4169e1 !important;
}

#context-forward .menu-iconic-icon {
  fill: #4169e1 !important;
}

#context-reload .menu-iconic-icon {
  fill: green !important;
}

#context-stop .menu-iconic-icon {
  fill: red !important;
}

#context-bookmarkpage .menu-iconic-icon {
  fill: #336699 !important;
} 


/*
 * Add icons to appmenu items
 * Firefox Quantum userChrome.css tweaks
 * Github: https://github.com/aris-t2/customcssforfx
 */
#appMenu-open-file-button {
  -moz-context-properties: fill;
  list-style-image: url(chrome://browser/skin/open.svg);
}

#appMenu-save-file-button {
  -moz-context-properties: fill;
  list-style-image: url(chrome://browser/skin/save.svg);
}

#appMenu-more-button {
  -moz-context-properties: fill;
  list-style-image: url(chrome://browser/skin/chevron.svg);
}

#appMenu-developer-button  {
  -moz-context-properties: fill;
  list-style-image: url(chrome://browser/skin/developer.svg);
}

:-moz-any(#appMenu-open-file-button,#appMenu-save-file-button,#appMenu-more-button,#appMenu-developer-button) .toolbarbutton-text  {
  padding-inline-start: 8px !important;
}

#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext :-moz-any(#appMenu-open-file-button,#appMenu-save-file-button,#appMenu-more-button,#appMenu-developer-button) {
  fill: currentColor !important;
}