/**
 * WIP: Tabs occupy all available width. Selected tab is wider.
 * TODO: possibly remove, tab sliding causes too much headache
 */

.tabbrowser-tab:not([pinned]) {
	max-width: 300px !important;
}

.tabbrowser-tab[selected]:not([pinned]) {
  min-width: calc(var(--tab-min-width) + 50px) !important;
}

/* .tabbrowser-tab:not([pinned]) {
	transition: min-width 100ms ease-out, max-width 100ms ease-out;
} */

