/**
 * Change Reader fonts and appearence 
 */
 
@-moz-document url-prefix("about:reader") {
/* Fonts */
  body.sans-serif,
  body.sans-serif .remove-button {
    font-family: "Segoe UI", Arial, sans-serif !important;
  }

  body.serif,
  body.serif .remove-button  {
    font-family: "Tahoma", "Times New Roman", serif !important;
  }

/* Buttons and Toolbar to match browser's navbar color */
  .toolbar {
    background-color: var(--arc-dark-navbar) !important;
    border: none !important;
  }
  
  .button {
    height: 52px !important;
    background-color: var(--arc-dark-navbar) !important;
    fill: #eee !important;
    border: none !important;
  }
  
  .button:hover {
    background-color: #edd !important;
    fill: #444 !important;
  }
  
  .close-button {
    height: 68px !important;
  }
  
  .close-button:hover {
    background-color: #d66 !important;
    fill: #444 !important;
  }
  
  .dropdown.narrate-dropdown {
    display: none !important;
  }
  
  /* Text colors */
  .moz-reader-content a:visited {
    color: #a4f !important;
  }
}
