@-moz-document url('about:addons') {
 /* url-prefix(chrome://mozapps/content/extensions/extensions.xul) */

/* Firefox Quantum userChrome.css tweaks
   Github: https://github.com/aris-t2/customcssforfx */

/* Don't dim disabled addon's icon */   
	richlistitem[active="false"] .icon {
	  filter: unset !important;
	}

/* Always show 'Recently updated' */
	#category-recentUpdates[disabled] {
	  overflow: visible !important;
	  height: 48px !important;
	  min-height: 48px !important;
	  opacity: 1 !important;
	  transition-property: unset !important;
	  transition-duration: unset !important;
	  -moz-user-input: unset !important;
	}
	
	#category-recentUpdates[hidden] {
	  opacity: 1 !important;
	  min-height: 48px !important;
	  height: 48px !important;
	  display: inherit !important;
	  transition: unset !important;
	}


/**
 * Compact addons page 
 * by mjcov
 * https://www.reddit.com/r/FirefoxCSS/comments/bc8f07/my_compact_addons_manager_screenshot_inside/ 
 */
 #addons-page .addon.card {
    max-width: 85% !important;
    padding: 4px 6px 4px 11px !important;
    margin: 0 0 8px !important;
    border-radius: 2px !important;
  }
  #addons-page #header-inner {
    width: auto !important;
    margin-left: 12px !important;
  }
  #addons-page #heading {
    /*margin: -3.35rem 0 1rem 0 !important;*/
    margin: -3.35rem 0 0 0 !important;
  }
  #addons-page #heading .heading-inner {
    margin-left: 12px !important;
    margin-inline-start: 0 !important;
    padding-right: 4px !important;
    width: calc(100vw - 240px - 24px) !important;
  }
  #addons-page #heading-name {
    visibility: hidden !important;
  }
  #addons-page #addon-list {
    padding: 1rem 12px !important;
  }
  #addons-page .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08) !important;
  }
  #addons-page .card:focus {
    box-shadow: 0 0 0 2px #0a84ff !important;
  }
  #addons-page #private-browsing-notice,
  #addons-page .privateBrowsing-notice {
    display: none !important;
  }
  #addons-page .addon[privateBrowsing="true"] .name:after {
    content: 'PRIVATE';
    display: inline-block;
    background-color: var(--purple-70);
    color: #fff;
    opacity: 0.55;
    padding: 4px 5px 3px;
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 5px;
  }

}