/** 
 * Ublock Origin dark theme 
 * Replace UUID in the "moz-extension://UUID/" string with the one from about:debugging#addons
 * by Blaises and drakmester
 * https://www.reddit.com/r/FirefoxCSS/comments/7lefac/ublock_origin_dark_theme/
 * https://www.reddit.com/r/FirefoxCSS/comments/bcgnvb/fully_themed_ublock_origin_css/
 * TODO: recoloring
 */

@-moz-document url-prefix("moz-extension://96739bf5-16fd-468d-ba3e-fcf65184ca7c/") {
  body { background-color: #2A2C31 !important; color: #67707C !important; }
  a { color: #8ad !important; }
  h2 { background-color: #2F3136 !important; color: #eee !important; }
  code { background-color: #36393F !important; }
  .tool { color: #999 !important; }
  .tool.enabled:hover { color: #8ad !important; }
  .permatoolbar { background-color: #2F3136 !important; }
  .permatoolbar .button { background-color: #36393F !important; }
  .permatoolbar .button:hover { background-color: #67707C !important; }
  #tooltip { background-color: #67707C !important; border: 0px solid #111 !important; color: #111 !important; }
  #firewallContainer > div { background-color: #2F3136 !important; }
  #firewallContainer > div:hover { background-color: #36393F !important; }
  #firewallContainer > div > span { color: #eee !important; border-bottom: 0px solid #111 !important; }
  #firewallContainer > div > span:first-of-type ~ span { border-left: 0px solid #111 !important; }
  #extraTools { background-color: #2F3136 !important; }
  #extraTools > span:hover { color: #8ad !important; }
  #dashboard-nav-widgets { background-color: #111 !important; border-bottom: 0px solid #666 !important; }
  .tabButton { background-color: #2F3136 !important; border: 1px solid #666 !important; border-bottom: 0px solid #666 !important; color: #eee !important; }
  .tabButton.selected { background-color: #222 !important; border-bottom: 0px solid #222 !important; }
  #diff li { background-color: #36393F !important; }
  #diff li:nth-child(even) { background-color: #666 !important; }
  #diff textarea { background-color: #333 !important; color: #67707C !important; }
  #switch .fa-icon { fill: #7289DA !important; }
  body.off #switch .fa-icon { fill: #67707C !important; }
  #tooltip { background-color: #36393F !important; border: 0px solid gray !important; border-radius: 0px !important; box-shadow: 0px 0px 0px gray !important; color: white !important; }
  #refresh { background-color: #36393F !important; border: 0px solid #ddc !important; border-radius: 0px !important; fill: white !important; }
}
