/* Youtube */
@-moz-document url-prefix('https://www.youtube.com') {
  /* Prevent whiteflash before Youtube dark theme loads */
  html {
    background-color: #131313 !important;
  }
  
  /* Smaller font for fullscreen video title */
  .ytp-big-mode .ytp-title-text {
    font-size: 22px !important;
  }

  /* Remove scroll down button and text */
  .ytp-fullerscreen-edu-button, 
  .ytp-fullerscreen-edu-chevron {
    display: none !important;
  }
  
  /* Color scrollbar to match Youtube background */
  :root {
    scrollbar-color: #333333 #131313 !important;
  }
  
  /* Same for the sidebar */
  #contentContainer {
    scrollbar-color: #333333 #1c1c1c !important;
  }
}


@-moz-document url-prefix('https://translate.google.com/translate') {
  #wtgbr {
    display: none !important;
  }
  
  #gt-appbar {
    padding: 0 28px !important;
  }
  
  #contentframe {
    top: 24px !important;
  }
  
  #gt-appname, .jfk-button, .jfk-button-standard {
	font-size: 9px !important;
	height: 12px !important;
	line-height: 12px !important;
  }
  
  .jfk-button-img {
    width: 10px !important;
    height: 10px !important;
  }
  
  #gt-appbar, #gt-appbar-r, #gt-lang-src, #gt-lang-tgt {
	height: 16px !important;
  }
}

