/* Youtube */
@-moz-document url-prefix('https://www.youtube.com') {
  /* Prevent whiteflash before Youtube dark theme loads */
  html {
    background-color: rgb(19, 19, 19) !important;
  }
  
  /* Smaller font for fullscreen video title */
  .ytp-big-mode .ytp-title-text {
    font-size: 24px !important;
  }

  /* Remove scroll down button and text */
  .ytp-fullerscreen-edu-button, 
  .ytp-fullerscreen-edu-chevron {
    display: none !important;
  }
}
