/**
 * Show menubar only on hover
 */

#toolbar-menubar {
  -moz-window-dragging: no-drag !important;
}

/* [autohide="false] means that MenuBar is enabled in UI setting */
#toolbar-menubar[autohide="false"]:not(:hover) {
  min-height: 1px !important;
}

#toolbar-menubar:not(:hover) #menubar-items, 
#toolbar-menubar[autohide="false"]:not(:hover) > .titlebar-buttonbox-container{
  display: none !important;
}

#toolbar-menubar[autohide="false"]:hover + #TabsToolbar > .titlebar-buttonbox-container {
  visibility: hidden;
}

#toolbar-menubar[autohide="false"] + #TabsToolbar > .titlebar-buttonbox-container {
  display: -moz-box !important;
  margin-top: -1px;
}

#toolbar-menubar[autohide="false"] + #TabsToolbar .titlebar-spacer[type="post-tabs"] {
  display: -moz-box !important;
}
