/**
 * Remove extra padding from tabs toolbar 
 */
 
.titlebar-spacer[type="pre-tabs"] {
  width: 0 !important;
}

.titlebar-spacer[type="post-tabs"] {
  width: 10px !important;
}

/**
 * Remove tab overflow scroll buttons 
 */
#scrollbutton-up, #scrollbutton-down {
  display: none;
}
