/**
 * Mimic Opera tab separators.
 * Shorter and more subtle.
 */

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  margin-bottom: 9px !important;
  margin-top: 9px !important;
}

.tabbrowser-tab:hover::after,
.tabbrowser-tab[multiselected]::after,
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab[beforehovered]::after,
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab[before-multiselected]::after { 
  visibility: hidden !important;
}
  
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after,
.tabbrowser-tab:last-of-type::after {
  visibility: hidden !important;
}
