/** 
 * Reduce tab title shadow
 */

 .tabbrowser-tab:not([pinned]) .tab-content {
  padding-inline-end: 6px !important;
}

.tab-label-container[textoverflow][labeldirection="ltr"]:not([pinned]), 
.tab-label-container[textoverflow]:not([labeldirection]):not([pinned]):-moz-locale-dir(ltr) {
	mask-image: linear-gradient(to left, transparent, black 1.3em) !important;
}

/**
 * Highlight tabs that were changed or shared from other devices by adding a small colored line 
 */

 .tab-label[attention]:not([selected="true"]) {
	font-weight: normal  !important;
}	

.tabbrowser-tab:-moz-any([image], [pinned]) > .tab-stack > .tab-content[attention]:not([selected="true"]),
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
	background-image: none !important;
}

.tabbrowser-tab[attention] > .tab-stack > .tab-background > .tab-bottom-line {
	height: 1px !important;
	background: linear-gradient(to right, transparent 35%, #1abc9c 35% 65%, transparent 65%) !important;
}

/** 
 * Dim discarded tabs
 */

.tabbrowser-tab[pending] .tab-content:not(:hover) .tab-label {
  opacity: 0.7 !important;
}


/**
 * Make tabs seamless (effect visible when hovering active tab's neighbour)
 */

.tabbrowser-tab .tab-background {
  margin-inline-start: -1px !important;
  margin-inline-end: -1px !important;       
}

.tabbrowser-tab:last-child .tab-background {
	margin-inline-end: 0 !important;       
}

