@-moz-document url('about:home'), url('about:newtab'), url('about:privatebrowsing'), url('about:blank') {
  html:not(#ublock0-epicker) body { 
    background-color: var(--arc-dark-tabbar) !important;
  }

  /* Hide scrollbar */ 	
  :root{
    scrollbar-width: none !important;
  }
}


@-moz-document url('about:newtab'), url('about:home') { 
	@media (max-width: 1920px) {
		body {
			background-image: url('../Backgrounds/bg-photo2-1920.jpg') !important; 
		}
	}
  
  @media (max-width: 1366px) {
		body {
			background-image: url('../Backgrounds/bg-photo-1366.jpg') !important; 
		}
	}

	body {
      overflow-y: hidden !important; 
      --newtab-card-background-color: #333 !important;
      /* NewTab background */
      background-size: cover !important;
      background-attachment: fixed !important;
      background-position: center !important;
	  }
	  
	  /* Hide "Top sites" title */
	  .outer-wrapper .section-top-bar .click-target-container {
      display: none !important;
	  } 

    /* Hide "pinned" icon */
    .icon-pin-small {
      display: none !important;
    }
	  
	  /* ********** VARIOUS OLD CRAP ************ */
	  
	  /* featured cards title bg */
	  /*  .card, .prefs-pane .sidebar {
		background-color:#202020 !important;
	  } */

	  /* featured cards title text */
	  #snippets, .section-title, .snippetContainer, .card-title, .card-description {
		color: #AEAEAE !important;
	  }

	  .top-site-outer .tile {
		border-radius: 2px !important;
	  }

	  .top-site-outer .screenshot {
		background-position: top center !important;
		background-size: 120px !important;
		border-radius: 2px !important;
	  }

	  .top-sites-list .top-site-outer .rich-icon {
		background-size: 86px !important;
		border-radius: 2px !important;
	  }

	  .card-outer { 
		border-radius: 1px !important;  /* sharp edges */
		box-shadow: 0 14px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
	  }

	  /*  .top-sites-list .top-site-outer .title span { 
		color:#D1D1D1; 
	  }

	  .top-site-outer .tile {
		width: 156px !important;
		height: 96px !important;
	  }

	  main {
		width: 1146px !important;
		padding-bottom: 0px !important;
	  } */

} 

/* More homepage styling here :
* https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme/blob/master/Full%20dark%20theme/userContent.css
*/
