/**
 * Paint identity box background to indicate insecure connection
 * Example: https://i.imgur.com/Px0ZmWj.png
 */

:root {
  --identity-box-notsecure-bg-color: #d55;
  --identity-box-unsafe-bg-color: #da5;
}

/*
 * States of #identity-box
 * 1. Secure: verifiedDomain / verifiedIdentity / mixedActiveBlocked   
 * 2. Unsafe: mixedDisplayContent / mixedDisplayContentLoadedActiveBlocked / weakCipher / certUserOverridden
 * 3. NotSecure: notSecure / insecureLoginForms / mixedActiveContent
 */

/* NOT SECURE: unencrypted HTTP */
#urlbar[pageproxystate="valid"] > #identity-box.notSecure,
#urlbar[pageproxystate="valid"] > #identity-box.insecureLoginForms,
#urlbar[pageproxystate="valid"] > #identity-box.mixedActiveContent {
  background-color: var(--identity-box-notsecure-bg-color) !important;
  fill: black !important;
  box-shadow: 1px 0px 0 0 var(--lwt-toolbar-field-border-color) !important;
}

/* UNSAFE: secure HTTPS connection with not secure page elements */
#urlbar[pageproxystate="valid"] > #identity-box.mixedDisplayContent,
#urlbar[pageproxystate="valid"] > #identity-box.mixedDisplayContentLoadedActiveBlocked,
#urlbar[pageproxystate="valid"] > #identity-box.weakCipher,
#urlbar[pageproxystate="valid"] > #identity-box.certUserOverridden {
  background-color: var(--identity-box-unsafe-bg-color) !important;
  fill: black !important;
  box-shadow: 1px 0px 0 0 var(--lwt-toolbar-field-border-color) !important;
}