/** 
 * Other tweaks regarding urlbar 
 */

/* Remove placeholder text in the address bar */
.urlbar-input-box > .urlbar-input::placeholder {
  opacity: 0 !important;
} 

/* Give the address bar darker background in a private browsing window and tweak selection colors */
#urlbar ::-moz-selection
{
  background-color: #5294F9 !important;
  color: #fff !important;
}

#main-window[privatebrowsingmode] #urlbar ::-moz-selection
{
  background-color: #5a5a5a !important;
  color: #f0f0f0 !important;
}

#main-window[privatebrowsingmode] #urlbar
{
  background-color: #303030 !important;
}

/* Vertically center container label */
#userContext-icons #userContext-label {
  margin-bottom: 2px !important;
  margin-inline-end: 2px !important;
}

#userContext-icons {
  -moz-box-ordinal-group: 99;
  padding-right: 2px !important;
}

#urlbar:not([focused="true"]):-moz-lwtheme, 
#urlbar.hidden-focus:-moz-lwtheme {
  border-color: rgba(40, 40, 50, 0.25) !important;
}

#urlbar:not(.hidden-focus)[focused="true"],
#searchbar:focus-within {
  /* border-color: rgba(40, 40, 50, 0.4) !important; */
  border-color: var(--lwt-toolbar-field-border-color, hsla(240,5%,5%,.25)) !important;
  box-shadow: 0 0px 1px 1px rgba(40, 40, 50, 0.15) !important;
}

#urlbar:not(.hidden-focus):-moz-lwtheme[focused="true"],
#navigator-toolbox #searchbar:focus-within:-moz-lwtheme {
  /* default color: rgb(60, 65, 78) */
  background-color: rgb(63, 69, 83) !important;   
}
