/**
 * Center address in urlbar and prevent it from shifting.
 * Hide unnecessary elements to clean up UI.
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#urlbar .urlbar-input-box {
  margin: auto !important;
}

#urlbar .urlbar-input-box html|input.urlbar-input {
  text-align: center !important;
}

/* Hide (i) icon */
#identity-icon {
  -moz-box-ordinal-group: 1;
  opacity: 0;
}

/* When Tracking protection is inactive mimic (i) icon in its place.
 * This is to prevent URL shifting: we always keep space for shield icon,
 * and when Tracking protection activates it no longer increases the width of #identity-box */
#tracking-protection-icon-box {
  -moz-box-ordinal-group: 1;
  visibility: visible !important;
  margin-inline-start: -20px !important;
  margin-inline-end: 0 !important;
  list-style-image: url(chrome://browser/skin/identity-icon.svg);
}

#identity-box.grantedPermissions > #tracking-protection-icon-box {
  list-style-image: url(chrome://browser/skin/identity-icon-notice.svg);
}

#urlbar[pageproxystate="valid"] > #identity-box.chromeUI > #tracking-protection-icon-box {
  list-style-image: url(chrome://branding/content/identity-icons-brand.svg);
}

#urlbar[pageproxystate="invalid"] > #identity-box > #tracking-protection-icon-box {
  visibility: hidden !important;
/*   list-style-image: url(chrome://browser/skin/search-glass.svg);
  fill-opacity: .4; */
}

#urlbar[actiontype="extension"] > #identity-box > #tracking-protection-icon-box {
  list-style-image: url(chrome://mozapps/skin/extensions/extensionGeneric-16.svg);
}

/* Coloring based on Tracking protection state */
#tracking-protection-icon-box[active] {
  fill: #09db00;
}

#tracking-protection-icon-box[hasException] {
  fill: #49f;
}

#blocked-permissions-container, #notification-popup-box {
  -moz-box-ordinal-group: 2;
}

#extension-icon {
  -moz-box-ordinal-group: 3;
  margin-inline-start: 6px;
  margin-inline-end: -2px;
}

#connection-icon {
  -moz-box-ordinal-group: 3;
}

/* Green lock icon refuses to obey fill-opacity, hence this workaround to match #tracking-protection-icon fill color */
#urlbar[pageproxystate="valid"] > #identity-box:-moz-any(.verifiedDomain, verifiedIdentity, .mixedActiveBlocked):not(:hover):not([open=true]) > #connection-icon {
  opacity: 0.8;
}

#urlbar[pageproxystate="invalid"] > #identity-box > #connection-icon {
  visibility: hidden !important;
}

#identity-icon-labels {
  -moz-box-ordinal-group: 4;
  display: none;
}

/* Keep consistent margin across all URL states. Needed to ensure constant width of #identity-box */
#identity-box {
  margin-inline-end: 4px !important;
	padding-inline-end: 8px !important;
}

/* Always keep the width of 2 icons, but disable pointer events on not loaded pages */
#identity-box[class="unknownIdentity"] {
  min-width: 52px !important;
  opacity: 0;
  pointer-events: none;
}

/* Negate notification icons No-Hover policy */
#identity-box:hover:not([open=true]) {
  background-color: hsla(0,0%,70%,.2) !important;
  fill-opacity: 0.8 !important;
}

#identity-box:hover:active {
  background-color: hsla(0,0%,70%,.3) !important;
  fill-opacity: 0.8 !important;
}

/* Hide useless buttons */
#urlbar .urlbar-go-button,
#urlbar .urlbar-history-dropmarker {
  display: none !important;
}

/* Page action buttons always occupy their space */
#urlbar[pageproxystate="invalid"] > #page-action-buttons > #pageActionButton,
#urlbar[pageproxystate="invalid"] > #page-action-buttons > #star-button-box {
  -moz-box-ordinal-group: 0;
  display: -moz-box !important;
  visibility: hidden !important;
  pointer-events: none;
}

/* Minimize some spacing */
#pageActionSeparator {
  visibility: collapse !important;
}

/* #page-action-buttons > :not([hidden]) ~ #pageActionSeparator {
  visibility: visible !important;
  margin: 0 4px !important;
} */

#userContext-icons,
#urlbar-zoom-button {
  margin: 0 4px !important;
}

#urlbar-zoom-button {
  -moz-box-ordinal-group: 0;
}

/* Don't show "Switch to tab" text */
#urlbar-display-box {
  display: none !important;
}

/* Fix URL prefix alignment in case of left overflow */
html|input.urlbar-scheme {
  text-align: left !important;
/*   display: none !important; */
}
