/**
 * Cleaner Context Menu
 */

/* page menu - #contentAreaContextMenu */
#context-openlink,    /* in new window */
#context-bookmarklink,
#context-savelinktopocket,
#context-pocket,
#context-sendimage,
#context-sep-sendpagetodevice,
#context-setDesktopBackground,
#context-selectall,
#context-viewsource,
#inspect-separator {
  display: none !important; 
}

/* tab menu - #tabContextMenu */
#context_toggleMuteTab,
#context_moveTabOptions,
#context_undoCloseTab,
#context_closeTab { 
  display: none !important; 
}

/** 
 * Cleaner Bookmark menu 
 */
#BMB_bookmarksShowAllTop, 
#BMB_bookmarksShowAllTop + menuseparator,
#BMB_viewBookmarksSidebar,
#BMB_viewBookmarksToolbar,
/*#BMB_bookmarksToolbar, */
/*#BMB_unsortedBookmarks, */
/*#BMB_bookmarksShowAll,  */
#BMB_viewBookmarksToolbar + menuseparator,
#BMB_mobileBookmarks + menuseparator {
  display: none !important;
}

/**
 * Cleaner hamburgher menu
 */
#appMenu-edit-controls,
#appMenu-edit-controls + spacer,
#appMenu-open-file-button,
#appMenu-find-button,
#appMenu-quit-button {
  display: none !important;
}