/**
 * Move the sound indicator to the left of the tab and make it smaller
 * Screenshot: https://i.imgur.com/XVyGNMG.png
 * 
 * Contributor(s): BubiBalboa via reddit.com/user/marciiF
 */

.tab-icon-sound {
  -moz-box-ordinal-group: 0 !important;
  margin: initial !important;
  margin-right: -16px !important;
  border-radius: 50% !important;
  opacity: 1 !important;
  transform: translate(35%, -35%) !important;
}

.tab-icon-sound:hover {
  background-color: var(--toolbar-bgcolor) !important;
}

.tab-close-button {
  -moz-box-ordinal-group: 2 !important;
}

.tab-icon-sound[soundplaying] {
  list-style-image: url(chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg) !important;
} 

.tab-icon-sound[muted] {
  list-style-image: url(chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg) !important;
}

.tab-icon-sound[activemedia-blocked] {
  list-style-image: url(chrome://browser/skin/tabbrowser/tab-audio-blocked-small.svg) !important;
}
