/** 
 * Other tweaks regarding urlbar 
 */

/* Remove placeholder text in the address bar */
.urlbar-input-box > .urlbar-input::placeholder {
  opacity: 0 !important;
} 

/* Give the address bar darker background in a private browsing window and tweak selection colors */
#urlbar ::-moz-selection
{
  background-color: #5294F9 !important;
  color: #fff !important;
}

#main-window[privatebrowsingmode] #urlbar ::-moz-selection
{
  background-color: #5a5a5a !important;
  color: #f0f0f0 !important;
}

